/vendor
.env
package-lock.json
node_modules

storage/app/media/*
storage/app/resources/*
storage/app/uploads/*
storage/cms/cache/*
storage/cms/combiner/*
storage/cms/twig/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/*.php
storage/logs/*
storage/temp/*

**.git
**.gitignore
**.gitattributes
Dockerfile
docker-compose.yml
.env.example