{% if paginator.hasPages %}
    <ul class="pagination">
        {#-- Previous Page Link --#}
        {% if paginator.onFirstPage %}
            <li class="disabled" aria-disabled="true" aria-label="{{ 'system::lang.pagination.previous'|trans }}">
                <span aria-hidden="true">&lsaquo;</span>
            </li>
        {% else %}
            <li>
                <a href="{{ paginator.previousPageUrl }}" rel="prev" aria-label="{{ 'system::lang.pagination.previous'|trans }}">&lsaquo;</a>
            </li>
        {% endif %}

        {#-- Pagination Elements --#}
        {% for element in elements %}
            {% if element is iterable %}
                {#-- Array Of Links --#}
                {% for page, url in element %}
                    {% if $page == paginator.currentPage %}
                        <li class="active" aria-current="page"><span>{{ page }}</span></li>
                    {% else %}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {#-- "Three Dots" Separator --#}
                {% if is_string($element) %}
                    <li class="disabled" aria-disabled="true"><span>{{ element }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {#-- Next Page Link --#}
        {% if paginator.hasMorePages %}
            <li>
                <a href="{{ paginator.nextPageUrl }}" rel="next" aria-label="{{ 'system::lang.pagination.next'|trans }}">&rsaquo;</a>
            </li>
        {% else %}
            <li class="disabled" aria-disabled="true" aria-label="{{ 'system::lang.pagination.next'|trans }}">
                <span aria-hidden="true">&rsaquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}
