td {
    input.inspector-table-control-text {
        padding: @table-cell-base-padding-v 0 @table-cell-base-padding-v @table-cell-base-padding-h;
        background: white;
        border: none;
        outline: none;
        display: block;
        width: 100%;

        &[readonly] {
            color: @color-grey-6-darker;
        }
    }

    &:first-child {
        input.inspector-table-control-text {
            padding-left: 0;
        }
    }
}